.edit{
  background-color: red;
  color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.player{
  color: rgb(36, 85, 52);
  background-color: #0d3d4b44;
  border:  2px solid blue;
  border-radius: 20px;
  width: fit-content;
  padding: 20px;
  margin: 10px auto;
}
.player2{
  color: rgb(85, 36, 36);
  background-color: #d6121213;
  border:  2px solid rgb(255, 123, 0);
  border-radius: 20px;
  width: fit-content;
  padding: 20px;
  margin: 10px auto;
}